<template>
    <div>
        <h4>Create A Player</h4>
        <form @submit.prevent="addPlayer">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Player first name:</label>
                        <input type="text" placeholder="Type a first name..." class="form-control" v-model="player.first_name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Player last name:</label>
                        <input type="text" placeholder="Type a last name..." class="form-control" v-model="player.last_name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Select team</label>
                        <select class="form-control" v-model="player.team_id">
                            <option disabled value="">Please select team</option>
                            <option v-for="team in teams" v-bind:value="team.id">{{ team.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
        <div>{{ playerMessage }}</div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                player: {},
                playerMessage: '',
                teams: []
            }
        },

        methods: {
            addPlayer(){
                let uri = 'http://localhost/api/players';
                this.axios.post(uri, this.player, {
                    headers: {
                        "token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                    }
                }).then((response) => {
                    this.playerMessage = response.statusText;
                });
            },

            getTeams() {
                let uri = 'http://localhost/api/teams';
                let that = this;
                this.axios.get(uri, {
                    headers: {
                        "token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                    }
                }).then((response) => {
                    response.data.forEach(function (team) {
                        that.teams.push(team);
                    });
                });
            }
        },

        mounted() {
            this.getTeams();
        }
    }
</script>
