<template>
    <div>
        <h4>Create A Team</h4>
        <form @submit.prevent="addTeam">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Team name:</label>
                        <input type="text" placeholder="Type a name..." class="form-control" v-model="team.name">
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
        <button v-on:click="getTeam" class="btn btn-primary">Get players</button>

        <div v-if="players.length > 0">
            <form @submit.prevent="updatePlayer">
                <div class="row" v-for="player in players">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Player first name:</label>
                            <input type="text" placeholder="Type a first name..." class="form-control" v-model="player.first_name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Player last name:</label>
                            <input type="text" placeholder="Type a last name..." class="form-control" v-model="player.last_name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Select team</label>
                            <select class="form-control" v-model="player.team_id">
                                <option disabled value="">Please select team</option>
                                <option v-for="team in teams" v-bind:value="team.id">{{ team.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <button class="btn btn-primary">Update</button>
                </div>
            </form>
            {{ playersMessage }}
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                team: {},
                teamMessage: '',
                players: [],
                teams: [],
                playerMessage: ''
            }
        },
        methods: {
            addTeam() {
                let uri = 'http://localhost/api/teams';
                this.axios.post(uri, this.team, {
                    headers: {
                        "token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                    }
                }).then((response) => {
                    this.teamMessage = response.statusText;
                });
            },

            getTeam() {
                let uri = 'http://localhost/api/teams/' + this.team.name;
                let that = this;
                this.axios.get(uri, {
                    headers: {
                        "token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                    }
                }).then((response) => {
                    that.players = [];
                    response.data.players.forEach(function (player) {
                        that.players.push(player);
                    });

                    this.getTeams();
                });
            },

            getTeams() {
                let uri = 'http://localhost/api/teams';
                let that = this;
                this.axios.get(uri, {
                    headers: {
                        "token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                    }
                }).then((response) => {
                    response.data.forEach(function (team) {
                        that.teams.push(team);
                    });
                });
            },

            updatePlayer() {
                let uri = 'http://localhost/api/players/update';
                let that = this;
                this.axios.post(uri, this.players, {
                    headers: {
                        "token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                    }
                }).then((response) => {
                    that.playerMessage = response.statusText;
                });
            }
        }
    }
</script>
